
body {
    max-width: 900px;
    margin: 0 auto;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 150%;
    text-indent: 50px;
}

input[type=text], input[type=submit] {
    margin-bottom: 10px;
}


.message {
    margin-bottom: 20px;
}