
body {
    max-width: 900px;
    margin: 0 auto;
}

nav ul  {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

nav li {
    font-size: 150%;
    text-indent: 50px;
}

input[type=text], input[type=submit] {
    margin-bottom: 10px;
}


.message {
    margin-bottom: 20px;
}