
body {
    max-width: 900px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}


ul li {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    font-style: italic;
    margin-bottom: 30px;
    font-size: 150%;
}

nav ul li a {
    display: inline;
    padding: 0.5rem;
    font-style: normal;
    margin-bottom: none;
    font-size: 120%;

}


input[type=text], input[type=submit] {
    margin-bottom: 10px;
}

